html {
  font-size: 62.5% !important;
  overflow: initial !important;
}

body {
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 15px !important;
  color: #3c3b37;
  margin: 0;
  overflow: initial !important;
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div#zmmtg-root {
  background-color: white;
}
