#root {
  .select-course-container {
    margin: 10px auto;
    width: 200px;
  }

  .select-course {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }

  .h3-margin {
    margin-bottom: 1.6rem;
    margin-top: 4.8rem;
  }


  .billboard--billboard--3-fQr {
    display: block;
    margin: 0 auto 6.4rem;
    position: relative;
    width: 100%;
  }

  @media (max-width: 43.75em) {
    .billboard--billboard--3-fQr {
      margin: 0 auto 2.4rem;
    }
  }

  @media (min-width: 61.31em) {
    .billboard--billboard--3-fQr {
      max-width: 134rem;
    }
  }

  .billboard--billboard--3-fQr .billboard--image-container--2JRqQ img {
    width: 100%;
  }

  @media (max-width: 43.75em) {
    .billboard--billboard--3-fQr .billboard--image-container--2JRqQ {
      height: 20rem;
      margin-bottom: 1.6rem;
    }
  }

  @media (max-width: 61.25em) and (min-width: 43.81em) {
    .billboard--billboard--3-fQr .billboard--image-container--2JRqQ {
      height: 25rem;
      overflow: hidden;
    }
  }

  @media (max-width: 43.75em) {
    .billboard--billboard--3-fQr .billboard--image-container--2JRqQ img {
      object-fit: cover;
      height: 100%;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .billboard--billboard--3-fQr .billboard--content-box--JtXUJ {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    padding: 2.4rem;
  }

  @media (max-width: 43.75em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ {
      box-shadow: none;
      position: static;
      padding: 0 2.4rem;
    }
  }

  @media (max-width: 75em) and (min-width: 43.81em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ {
      width: 34rem;
      left: 2.4rem;
      top: 2.4rem;
    }
  }

  @media (min-width: 61.31em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ {
      left: 4.8rem;
      top: 6.4rem;
      max-width: 44rem;
    }
  }

  .billboard--billboard--3-fQr .billboard--content-box--JtXUJ h1 {
    margin-bottom: .8rem;
  }

  @media (max-width: 75em) and (min-width: 43.81em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ h1 {
      font-size: 3.2rem;
    }
  }

  @media (min-width: 61.31em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ h1 {
      font-size: 4rem;
    }
  }

  @media (max-width: 75em) and (min-width: 43.81em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ p {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 61.31em) {
    .billboard--billboard--3-fQr .billboard--content-box--JtXUJ p {
      font-size: 1.9rem;
    }
  }

  .udlite-container {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
}
