#root {
  .half-star-same {
    fill-opacity: 1;
    stroke-width: 2; 
    stroke-miterlimit: 4; 
    stroke-dasharray: none; 
    stroke-opacity: 1;
  }

  .half-star-right {
    fill: white; 
    stroke: #7f7f7f; 
  }

  .half-star-left {
    fill: yellow; 
    stroke: black; 
  }
}
