@import url(https://fonts.googleapis.com/css?family=Montserrat);
$text-color: hsl(95, 80%, 10%);
$bubble-color-one: hsl(95, 60%, 75%);
$bubble-color-two: hsl(95, 75%, 45%);
$bubble-shade: hsl(95, 75%, 15%);

$lato: "Lato", sans-serif;
$fw--1: 300;
$fw--2: 400;
$fw--3: 900;

$ligther-grey: #f2f2f2;
$light-grey: #e2e2e2;
$dark-grey: #2b2b2b;
$pink: #e8a4a2;
$peach: #ef5a5c;
$blue: #72a3d4;

#root {
  @mixin gradient($deg, $colorStart, $colorMid, $colorEnd) {
    background: linear-gradient($deg, $colorStart, $colorMid, $colorEnd);
  }

  h1,
  h2,
  h3,
  span,
  a,
  p,
  li,
  i {
    font-size: $lato;
  }

  .icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  // Chatroom styling
  .chatroom {
    // width: 500px;
    // margin: 30px auto 0;
    background: rgba(255,255,255,.85);
    display: flex;
    flex-direction: column;
    padding: 0 0 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px rgba($dark-grey, .5);
    
    .chat-top {
      background: $ligther-grey;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .name {
        h3 {
          letter-spacing: .15rem;
          font-weight: $fw--2;
        }
      }
      
      .control {
        span { 
          color: $blue; 
          cursor: pointer;
        }
        
        &:hover {
          span, span::before {
            color: #31356c;
          }
        }
        
        .arrow {
          &::before {
            content: "<";
            font-weight: $fw--3;
            font-family: $lato;
            font-size: 1em;
            color: $blue;
          }
        }
      }
      
    }
    .chat-mid {
      padding: 0 20px 50px;

      .chat {
        // display: grid;
        // grid-template-columns: 50px 360px 50px;
        .chatbox {
          display: flex;
          align-items: center;
          position: relative;

          .profile img {
            height: 50px !important;
            width: 50px;
          }
          
          .message {
            &:first-child {
              margin: 0;
            }

            font-family: 'Montserrat', sans-serif;
            color: $text-color;
            font-size: 1rem;
            background: linear-gradient(to right, $bubble-color-one 0%, $bubble-color-two 50%, $bubble-color-one 100%);
            padding: .75em 1em;
            margin: 1em 0 0 0;
            border-radius: 1em;
            min-width: 2em;
            max-width: 20em;
            min-height: 1.2em;
            position: relative;
            float: left;
            clear: both;
            animation: none;
            transition: opacity 1s linear, height .25s linear;

            &::before {
              content: '';
              border: .75em solid transparent;
              border-top-color: $bubble-color-one;
              position: absolute;
              width: 0;
              height: 0;
              bottom: -1.5em;
              // left: 1em;
            }

            &.new {
              animation: pulse 1s linear infinite;
            }
          }
        }
        .left {
          grid-column: 1/3;
          .message {
            margin-left: 10px;
            border-left-color: transparent;
            
            &::before {
              top: 50%;
              left: -14px;
              transform: translatey(-50%);
              border: 7px solid transparent;
              border-right-color: $bubble-color-one;
            }
          }
        }
        .right {
          grid-column: 2/-1;
          justify-self: end;
          .message {
            margin-right: 10px;
            border-right-color: transparent;
            &::before {
              top: 50%;
              right: -14px;
              transform: translatey(-50%);
              border: 7px solid transparent;
              border-left-color: $bubble-color-one;
            }
          }
          .profile {
            order: 2;
          }
        }
      }
    }
    
    .chat-bottom {
      padding: 30px 20px 0;
      background: $ligther-grey;
      
      form {
        display: flex;
        input {
          flex: 2 1 auto;
          outline: none;
          border: 1px solid transparent;
          border-bottom-color: $light-grey;
          padding: 0 15px;
        }

        button {
          border: 0;
        }
        
        span {
          margin-left: 20px;
          background: rgba($light-grey, .9);
          padding: 5px 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
