.header {
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
  z-index: 1010;
}

.nav-container {
  align-items: center;
  display: flex;
  background: #fff;
  height: 7.2rem;
  justify-content: space-between;
  padding: 0 1.6rem;
  position: relative;
  z-index: 1010;
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
}

.nav-sub-container {
  display: flex;
}

.logo {
  flex-shrink: 0;
  padding-right: 1.2rem;
  align-items: center;
  display: flex;
  color: #0f7c90;
  text-decoration: none;
}

.header-gap {
  margin-left: .8rem;
}

.nav-btn {
  position: relative;
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  min-width: 10rem;
  padding: 0 1.2rem;
  justify-content: center;
  user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}

.nav-btn-primary, 
.nav-btn-primary.btn-disabled {
  background-color: #0f7c90;

  &:hover {
    background-color: #094c59;
    color: white;
  }
}

.nav-btn-primary,
.nav-btn-black-solid,
.nav-btn-white-outline,
.nav-btn-brand {
  color: #fff;
}

.nav-btn-secondary,
.nav-btn-secondary.btn-disabled {
  color: #0f7c90;
  background-color: transparent;
  border: 1px solid #2896a9;

  &:hover {
      border-color: #1c6a78;
      color: #094c59;
  }
}

.btn-medium {
  height: 4rem;
}

.heading-sm {
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.4rem;
}

a {
  color: #0f7c90;
  text-decoration: none;
}
