#root {
  .signup-form {
    padding: 24px 24px 16px;
  }

  .form-field-container {
    margin-bottom: 8px;
    position: relative;
  }

  .form-field-container {
    label {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }

    &.full-name {
      &:before {
        content: '\1F464';
      }
    }

    &.email {
      &:before {
        content: '\2709';
      }
    }

    &.password {
      &:before {
        content: '\1F512';
      }
    }

    &.password-confirmation {
      &:before {
        content: '\1F512';
      }
    }

    &.full-name,
    &.email,
    &.password,
    &.password-confirmation {
      &:before {
        color: #cacbcc;
        font-size: 20px;
        left: 8px;
        line-height: 1;
        margin-top: 16px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 24px;
        z-index: 2;
      }
    }
  }

  .manage-fields-wrapper input[type=text],
  .manage-fields-wrapper input[type=email],
  .manage-fields-wrapper input[type=password] {
    border-radius: 5px;
    color: #29303b;
    font-size: 18px;
    height: auto;
    padding: 11px 45px 12px 40px;

    &:focus {
      border-color: #76c5d6;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #8a92a3;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;

    &:focus {
        border-color: #76c5d6;
        box-shadow: inset 0 0 1px rgba(0,119,145,.5);
    }
  }

  .form-actions {
    margin: 0 0 16px;

    .submit-row {
      text-align: center;

      input {
        font-size: 16px;
        font-weight: 700;
        height: 48px;
        margin-bottom: 16px;
        width: 100%;

        &:hover {
          color: #fff;
          background-color: #992337;
          border-color: transparent;
        }
      }
    }
  }
}
